*, html, body {
  padding: 0;
  margin: 0;
}

.fContainer {
  display: flex;
  width: 100%;
  position: fixed;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 100%;
  height: 70px;
  padding: 15px;
  background-color: #1A2238;
}

.brand {
  display: flex;
  font-size: 1.5em;
  flex-direction: row;
  text-transform: capitalize;
}

.firstname {
  color: white;
  font-weight: 800;
}

.lastname {
  color: crimson;
  font-weight: 500;
  padding-left: 4px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
}

.button-login {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 2px;
}